<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://grocr-3d4f5-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>1042778893903-5ue3jrbc1530epf85f6pejb8naranhsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042778893903-5ue3jrbc1530epf85f6pejb8naranhsg</string>
	<key>API_KEY</key>
	<string>AIzaSyCCKvfaaPMQTA9SvqHqiTn9e5EJ9TgY8t4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042778893903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocr-3d4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-3d4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042778893903:ios:9b959862de0f2b54cec43a</string>
</dict>
</plist>
